<!DOCTYPE html>
<html>
  <head>
    <title>Mypiggybank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans|Lalezar|Bangers|Luckiest+Guy|Cutive" rel="stylesheet">
  </head>
  <body>

		<div class="container">
  		<%= render :template => 'partials/_navbar' %>
      <%= render :template => 'partials/_errors' %>
   	 <%= yield %>

    </div>

  </body>
     <footer class="footer text-center">
      <div class="container">
        <p class="text-muted">© 2016 DBC Salamanders All Rights Reserved.</p>
      </div>
    </footer>
</html>
